body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: black url(header.jpg) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}

h1{
  font-size: 5rem;
  color: #e2dbdb;
  transition: transform 0.2s;
}

h1:hover{
  color: rgb(200,200,200);
  transform: scale(1.1);
}

hr{
  border-color: #F05F44;
  border-width: 3px;
  max-width: 65px;
}

.buffer{
  height: 50px;
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  transition: transform .2s;
}

.btn-primary{
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn-primary:hover{
  background-color: #ee4b08;
  border-color: #ee4b08;
  transform: scale(1.2);
  /* border-width: 4px; */
}

.btn-xl{
  padding: 1rem 2rem;
}

a:active{
  color: black;
}

#content{
  display: none;
  border-radius: 35px;
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 35px;
}

.card{
  margin-bottom: 30px;
}

.text-right{
  width: 18rem;
  height: fit-content;
}

.card-to-end{
  height: fit-content;
}

p{
  color: #e2dbdb;
  font-size: 21px;
}

.cart-button{
  margin-bottom: 10px;
  text-transform: lowercase;
}
#findMeOnText{
  font-size: 25px;
}
